
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.flex {
  display: flex;
}

.truncate {

}

.asd {
  width: 100%;
  justify-content: space-around;
}